<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="application/json; charset=utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/print.css" media="print" />

    <title>Invoice</title>
  </head>

  <body id="element-to-print">
    <div class="container h-100" id="print">
      <!-- header -->
      <div class="row">
        <div class="col">
          <h1 class="Company-Title text-center">SAYAD ENGINEERING WORKS</h1>
          <div class="contact-details d-flex justify-content-center">
            <div
              class="phone mx-3 d-flex justify-content-center align-items-center"
            >
              <img src="/images/fluent_call-32-filled.svg" />
              <p class="phone-number my-0">+91 9867538527</p>
            </div>
            <div class="mail d-flex justify-content-center align-items-center">
              <img src="/images/quill_mail.svg" />
              <p class="mail-address my-0 mx-1">sayyedengworks@gmail.com</p>
            </div>
            <div
              class="GST mx-3 d-flex justify-content-center align-items-center"
            >
              <p class="GST-number my-0">GST:27AHSPB7715N1ZR</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="invoice">tax invoice</h3>
        </div>
      </div>
      <!-- client info -->
      <div class="row position-relative">
        <div class="col">
          <div class="client-details-container d-flex flex-column">
            <span class="receiver d-none">To</span>
            <div class="client__Company-Name fw-bold fs-4"></div>
            <div class="client__GST-number"></div>
            <div class="client__address"></div>
            <div class="client__Trasnport-details fw-bold fs-7"></div>
          </div>
        </div>
        <div class="dateInvoice position-absolute d-none">
          <div>Date: <span class="Date"></span></div>
          <div>Invoice No: <span class="Invoice"></span></div>
        </div>
      </div>
      <!-- Entry form -->
      <form class="invoiceForm needs-validation d-print-none">
        <div class="row">
          <div class="col-md-auto InvoiceNumber-container">
            <label for="InvoiceNumber" class="form-label-InvoiceNumber"
              >Invoice No.</label
            >
            <p class="mx-3 my-0 d-inline text-secondary">
              Last Bill No. <span class="lastInvoiceNumber"></span>
            </p>
            <input
              type="number"

              class="form-control InvoiceNumber-Input"
              name="InvoiceNumber"
              id="InvoiceNumber"
              placeholder="Enter Invoice No."
            />
          </div>
          <div
            class="col-md-auto ms-auto d-flex justify-content-center align-items-center my-1"
          >
            <label for="Date" class="form-label Date-label m-0 px-1"
              >Date:</label
            >
            <input
              type="date"

              class="form-control Date-Input"
              id="Date"
              name="Date"
              format="dd/mm/yyyy"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mt-3">
            <label for="CompanyName" class="d-print-none">Company Name</label>
            <select
              class="form-select Client-company-name"
              name="CompanyName"
              id="CompanyName"

            >
              <option selected value="">Company Name</option>
              <% clientList.forEach((client)=>{ %>
              <option class="clientList"><%= client.Name %></option>
              <% }); %>
            </select>
          </div>
        </div>
        <div class="row my-3">
          <div class="col">
            <label for="ProductName" class="form-label d-print-none"
              >Product Name</label
            >
            <input
              type="text"
              class="form-control d-print-none productData"
              name="ProductName"
              id="ProductName"
              placeholder="Enter Product Name"

            />
          </div>
          <div class="col">
            <label for="HSN" class="form-label d-print-none">HSN</label>
            <input
              type="number"
              class="form-control d-print-none productData"
              min="0"
              name="HSN"
              id="HSN"
              placeholder="Enter HSN No."
            />
          </div>
          <div class="col">
            <label for="Quantity" class="form-label d-print-none"
              >Quantity</label
            >
            <input
              type="number"
              step="any"
              class="form-control d-print-none productData"
              min="0"
              name="Quantity"
              id="Quantity"
              placeholder="Enter Quantity"

            />
          </div>
          <div class="col">
            <label for="Price" class="form-label d-print-none">Rate</label>
            <input
              type="number"
              class="form-control d-print-none productData"
              step="any"
              min="0"
              name="Price"
              id="Price"
              placeholder="Enter Price"

            />
          </div>
        </div>
        <div class="my-3 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-outline-info btn-add d-print-none mx-3"
          >
            Add
          </button>
          <button
            type="button"
            class="btn btn-outline-danger btn-delete d-print-none"
          >
            Delete
          </button>
        </div>
        <div class="my-3">
          <button
            type="button"
            class="btn btn-primary submitButton d-print-none"
          >
            Submit
          </button>
        </div>
      </form>
      <!-- products table -->
      <div class="row">
        <div class="col">
          <table class="table table-bordered border-dark">
            <thead class="table-dark">
              <tr>
                <th>Sr No.</th>
                <th>Product Name</th>
                <th>HSN</th>
                <th>Qty.</th>
                <th>Rate</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
              <tr>
                <td colspan="4" rowspan="6">
                  <div class="d-flex flex-column fs-6 bankDetails">
                    <span class="fw-bold"> Payment Method: </span>
                    <span>Bank Name: IndusInd Bank Limited</span>
                    <span>Account Number: 259867538527 </span>
                    <span> Branch: Bhayander East </span>
                    <span> IFSC Code:INDB0000582</span>
                  </div>
                </td>
                <td class="">Total</td>
                <td class="totalBeforeTax">-</td>
              </tr>
              <tr>
                <td class="">CGST</td>
                <td class="CGST tax">-</td>
              </tr>
              <tr>
                <td class="">SGST</td>
                <td class="SGST tax">-</td>
              </tr>
              <tr>
                <td class="">IGST</td>
                <td class="IGST tax">-</td>
              </tr>
              <tr>
                <td class="">Round Off</td>
                <td class="roundOff">-</td>
              </tr>
              <tr class="table-dark">
                <td class="">Grand Total</td>
                <td class="grandTotal">-</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <%- include('./template/footer') %>
    </div>
    <!-- Bootstrap  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- CUSTOM  -->
    <script type="module" src="/js/app.js"></script>
  </body>
</html>
