<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Invoice</title>
  </head>

  <body>
    <div
      class="container my-3 h-100 d-flex flex-column justify-content-start position-relative"
    >
      <%- include('./template/header') %>
      <div class="row">
        <div class="col-md-5 client-details">
          <div class="client-details-container d-flex flex-column">
            <span class="receiver">To</span>
            <div class="client__Company-Name fw-bold fs-3"></div>
            <div class="client__GST-number"></div>
            <div class="client__address "></div>
            <div class="client__Trasnport-details fw-bold fs-7"></div>
          </div>
        </div>
        <!-- <div class="col-md-auto">
          <div class="Date">Date: <span>04/06/2023</span></div>
          <div class="Invoice">Invoice No: <span>01</span></div>
        </div> -->
      </div>
      <form class="invoiceForm needs-validation">
        <div class="row my-3">
          <div class="col-md-auto InvoiceNumber-container">
            <label for="InvoiceNumber" class="form-label-InvoiceNumber"
              >Invoice No.</label
            >

            <input
              type="number"
              class="form-control InvoiceNumber-Input"
              name="InvoiceNumber"
              id="InvoiceNumber"
              placeholder="Enter Invoice No."
            />
          </div>
          <div class="col-md-auto ms-auto">
            <label for="Date" class="form-label Date-label">Date:</label>
            <input
              type="date"
              class="form-control Date-Input"
              id="Date"
              name="Date"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mt-3">
            <select class="form-select Client-company-name" name="Company Name">
              <option>Company Name</option>
              <% clientList.forEach((client)=>{ %>
              <option class="clientList"><%= client.Name %></option>
              <% }); %>
            </select>
          </div>
        </div>
        <div class="row my-3">
          <div class="col">
            <label for="ProductName" class="form-label d-print-none"
              >Product Name</label
            >
            <input
              type="text"
              class="form-control d-print-none productData"
              name="ProductName"
              placeholder="Enter Product Name"
              required
            />
          </div>
          <div class="col">
            <label for="HSN" class="form-label d-print-none">HSN</label>
            <input
              type="number"
              class="form-control d-print-none productData"
              min="0"
              name="HSN"
              placeholder="Enter HSN No."
            />
          </div>
          <div class="col">
            <label for="Quantity" class="form-label d-print-none"
              >Quantity</label
            >
            <input
              type="number"
              class="form-control d-print-none productData"
              min="0"
              name="Quantity"
              placeholder="Enter Quantity"
              required
            />
          </div>
          <div class="col">
            <label for="Price" class="form-label d-print-none">Rate</label>
            <input
              type="number"
              class="form-control d-print-none productData"
              step="any"
              min="0"
              name="Price"
              placeholder="Enter Price"
              required
            />
          </div>
        </div>
        <div class="my-3 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-outline-info btn-add d-print-none mx-3"
          >
            Add
          </button>
          <button
            type="button"
            class="btn btn-outline-danger btn-delete d-print-none"
          >
            Delete
          </button>
        </div>
        <div class="my-3"><%- include('./template/table') %></div>
        <div class="my-3">
          <button
            type="button"
            class="btn btn-primary submitButton d-print-none"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <!-- Bootstrap  -->
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- CUSTOM  -->
    <script type="module" src="/js/app.js"></script>
  </body>
</html>
