@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}
.Company-Title {
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 0.03em;
}

.contact-details {
  top: 60px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  position: relative;
  /* background-color: red; */
  height: 100vh !important;
}

.phone-number,
.mail-address,
.GST-number {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.03em;
}

.invoice {
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
}

.client-details {
  width: 60%;
}

.dateInvoice {
  right: 0;
  width: fit-content;
}
.bankDetails {
  font-size: 1.2rem;
}

.companyAddress-container {
  background-color: #2125297e;
  border-radius: 100px;
}

.dateInvoice {
  display: block !important;
}
/* .footer {
  position: absolute;
  bottom: 0;
} */
th,
td {
  font-size: 12px !important;
}

.invoiceForm{
    display: none;
}