@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Company-Title {
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 0.03em;
}
.container{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.contact-details {
  top: 60px;
}

.phone-number,
.mail-address,
.GST-number {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.03em;
}

.invoice {
  font-weight: 800;
  font-size: 25px;
  text-transform: uppercase;
}


.dateInvoice {
  right: 0;
  width: fit-content;
}
.bankDetails{
  font-size: 1.2rem ;
}

.companyAddress-container{
  background-color: #2125297e;
  border-radius: 100px;

}

td{
  text-transform: capitalize !important;

}