<div class="row footer">
    <div class="col">
        <div class="fw-bold fs-8">Terms and Conditions:</div>
        <ol>
            <li>Goods once sold cannot be returned.</li>
            <li>We are not responsible for breakage and/or shortage of goods after delivery.</li>
        </ol>
    </div>
    <div class="col text-center mt-5">
        <h4 class="fw-bold">Faisal Sayyed</h4>
        <p class="fw-bold">Proprietor</p>
    </div>
</div>
<div class="row footer">
    <div class="col">
        <div class="companyAddress-container my-3 d-flex px-1 py-2 justify-content-center  align-items-center">
            <img src="/images/ion_location-outline.svg" alt="">
            <p class="company-address my-0 mx-2">E-6, Swastik Estate, Behind Milan Palace Goddev Road, Bhayander (East)-401105</p>
        </div>
        <div class="contact-details d-flex justify-content-center  align-items-center">
            <!-- <div class="phone mx-3 d-flex justify-content-center align-items-center">
                <img src="/images/fluent_call-32-filled.svg">
                <p class="phone-number my-0">+91 9867538527</p>
            </div>
            <div class="mail d-flex justify-content-center align-items-center">
                <img src="/images/quill_mail.svg">
                <p class="mail-address my-0 mx-1">sayyedengworks@gmail.com</p>
            </div> -->
        </div>
    </div>
</div>