<div class="row">
    <div class="col">
        <table class="table table-bordered  border-dark">
          <thead class="table-dark">
            <tr>
              <th>Sr No.</th>
              <th>Product Name</th>
              <th>HSN</th>
              <th>Qty.</th>
              <th>Rate</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody></tbody>
          <tfoot>
            <tr>
              <td colspan="4" rowspan="6">
                <div class="d-flex flex-column">
                 <span class="fw-bold"> Payment Method: </span>
                  <span>Bank Name: Janaseva Sahakari Bank (Borivali) LTD.</span>
                  <span>Account Number: 00802110000084 </span>
                   <span> Branch: Bhayander East </span>
                   <span> IFSC Code:JASB0000009</span>
                </div>
              </td>

              <td class="">Total</td>
              <td class="totalBeforeTax">-</td>
            </tr>
            <tr>
              <td class="">CGST</td>
              <td class="CGST tax">-</td>
            </tr>
            <tr>
              <td class="">SGST</td>
              <td class="SGST tax">-</td>
            </tr>
            <tr>
              <td class="">IGST</td>
              <td class="IGST tax">-</td>
            </tr>
            <tr>
              <td class="">Round Off</td>
              <td class="roundOff">-</td>
            </tr>
            <tr class="table-dark">
              <td class="">Grand Total</td>
              <td class="grandTotal ">-</td>
            </tr>
          </tfoot>
        </table>
    </div>
</div>
