<table class="table">
    <thead>
        <tr>
            <th>Sr No.</th>
            <th>Product Name</th>
            <th>HSN</th>
            <th>Qty.</th>
            <th>Rate</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-end " colspan="5">CGST</td>
            <td class="CGST">-</td>
        </tr>
        <tr>
            <td class="text-end " colspan="5">SGST</td>
            <td class="SGST">-</td>
        </tr>
        <tr>
            <td class="text-end " colspan="5"> IGST</td>
            <td class="IGST">-</td>
        </tr>
        <tr>
            <td class="text-end" colspan="5">Round Off</td>
            <td class="roundOff">-</td>
        </tr>
        <tr>
            <td class="text-end " colspan="5">Grand Total</td>
            <td class="grandTotal">-</td>
        </tr>
    </tfoot>
</table>